.work-details {
    margin-top: 30px;
}
.detail-title {
    color: var(--head-color);
    font-size: 1.3rem;
}
.list-description {
    font-size: 1.2rem;
    color: var(--sub-head);
    max-width: 700px;
    margin-top: 10px;
}
.each-work {
    margin-top: 20px;
}