.intro-sec {
    padding: 50px;
    margin-top: 20px;
    margin-left: 70px;
}
.intro-title {
    color: var(--head-color);
    font-size: 1.3rem;
}
.intro-subtitle {
    font-size: 1.2rem;
    color: var(--sub-head);
    max-width: 900px;
    margin-top: 10px;
}