.navbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-white);
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.logo {
    font-size: 1.5rem;
}
.nav-links {
    display: flex;
    gap: 50px;
    margin-left: 100px;
}
.nav-links li {
    list-style: none;
    font-size: 1.3rem;
}
.donation {
    margin-right: 50px;
}
.don-btn {
    padding: 8px 20px;
    background-color: var(--bg-button);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}