.what-we-do {
    max-width: 300px;
    padding: 30px;
    position: sticky;
    align-items: flex-start;
    bottom: 10px;
}
hr {
    width: 30%;
    margin-top: 10px;
    padding: 2px;
    border: none;
    background-color: blue;
    border-radius: 10px;
}
.service-title {
    font-size: 1.3rem;
    color: var(--head-color);
}
.list {
    margin-top: 20px;
}
.category-block {
    margin-top: 10px;
}
.category-head {
    font-size: 1.3rem;
}
.category-list li {
    font-size: 1.2rem;
    color: var(--sub-head);
    margin-top: 7px;
    list-style: none;
}
.service-img {
    margin-top: 40px;
    max-width: 350px;
    border-radius: 3px;
}